<!DOCTYPE html>
<html lang="pt">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home | IACC Tickets</title>
  <link rel="stylesheet" href="css/screencall.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <style>
    body {
      background-color: #121212;
      color: #ffffff;
      overflow-x: hidden;
    }

    .fs-6 {
      font-weight: normal;
      font-size: 1.9rem;
    }
    td.fs-6 {
      font-size: 2.9rem;
      color: #fff;
    }

    .center {
      padding-left: 3.75rem !important;
      font-size: 2.9rem;
    }

    .owl-item {
      background: #212121;
    }

    /** to hide dots**/
    .owl-theme .owl-dots .owl-dot {
      display: none !important;
    }

    .display-44 {
      font-size: 3.1rem;
      font-weight: 300;
      line-height: 1.2;
    }

    /* Navbar */
    .navbar {
      background-color: #1e7e34 !important;
      color: #fff;
    }

    /* Table */
    table {
      background-color: #212121;
      color: #ffffff;
    }

    th {
      color: #ffffff;
    }

    /* Owl Carousel */
    .owl-carousel {
      margin-top: 20px;
    }

    .owl-nav > div {
      background-color: #121212 !important;
    }

    .owl-prev, .owl-next {
      color: #ffffff !important;
    }

    .owl-prev:hover, .owl-next:hover {
      color: #97c11f !important;
    }

    .owl-dot {
      background-color: #444444 !important;
    }

    .owl-dot.active {
      background-color: #97c11f !important;
    }

    .dark-mode img {
       filter: invert(1);
       mix-blend-mode: difference;
}
  </style>
</head>

<body>
  <nav class="navbar fs-6">
    <marquee behavior="" direction="" >
      <span class="mx-5">IACC - Instituto Angolano de Controlo de Câncer.</span>
      <span class="mx-5">Um Instituto especializado na cura e prevenção.</span>
      <span class="mx-5">Um Instituto especializado na cura e prevenção.</span>
    </marquee>
  </nav>
  <main style="margin-top: 10px">
    <div class="row">
      <div class="col-md-6" style="
    padding-right: 0px;
">
        <table class="table" id="tabela-call">
          <thead>
            <tr>
              <th scope="col" class="display-44">Senha</th>
              <th scope="col" class="display-44">Balcão</th>
              <th scope="col" class="display-44">Serviços</th>
            </tr>
          </thead>
          <tbody id="tbody">
            
          </tbody>
        </table>
      </div>
      <div class="col-md-6 pr-0" style="
    padding-left: 0px;
">

        <div class="owl-carousel owl-theme owl-loaded owl-drag" style="
    margin-top: 0px;
">

          <div class="owl-stage-outer">

            <div class="owl-stage" style="transform: translate3d(-2122px, 0px, 0px); transition: all 0.25s ease 0s; width: 4245px;">
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/04.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/3.jpg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/05.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/06.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/09.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/10.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
             

              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/08.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/12.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/09.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/cancer/11.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
              <div class="owl-item " style="width: 697.5px; margin-right: 10px;">
                <div class="item">
                  <img src="img/10.jpeg" class="dark-mode"  alt="img cancer">
                </div>
              </div>
          </div>

      </div>
    </div>
  </main>
</body>



<script src="js/jquery.min.js"></script>
  <script src="js/owl.carousel.js"></script>
  <script>
    var owl = $('.owl-carousel');
    owl.owlCarousel({
      items: 1,
      // items change number for slider display on desktop

      loop: true,
      margin: 10,
      autoplay: true,
      autoplayTimeout: 3000,
      autoplayHoverPause: true
    });
  </script>
<script src="/socket.io/socket.io.js"></script>
<script>
  const audio = new Audio('http://172.17.1.10:3000/audio/ascend.mp3'); 
  document.addEventListener('DOMContentLoaded', function() {
  var socket = io.connect('http://172.17.1.10:3000');
  var actual;
  socket.on('ok', (msg) => {
    console.log(msg)
    speakTicketData(msg);
  });
  socket.on('call', async (msg) => {
    var tabela = document.getElementById("tabela-call");

    // Crie uma nova linha e células
    var novaLinha = document.createElement("tr");
    var novaCelulaSenha = document.createElement("th");
    var novaCelulaBalcao = document.createElement("td");
    var novaCelulaServico = document.createElement("td");
    actual = msg.lastTickers;
    speakTicketData(msg.lastTickers);
    
    // Adicione as classes às células
    novaCelulaSenha.classList.add("fs-6", "center");
    novaCelulaSenha.setAttribute("scope", "row");
    novaCelulaSenha.textContent = `${msg.lastTickers.ticket_number}`;

    novaCelulaBalcao.classList.add("fs-6");
    novaCelulaBalcao.textContent = `Balcão ${msg.lastTickers.counter_id}`;

    novaCelulaServico.classList.add("fs-6");
    novaCelulaServico.textContent = `${msg.lastTickers.Service.name}`;

    // Adicione as células à linha
    novaLinha.appendChild(novaCelulaSenha);
    novaLinha.appendChild(novaCelulaBalcao);
    novaLinha.appendChild(novaCelulaServico);

    // Adicione a nova linha à tabela
    var tbody = tabela.querySelector("#tbody");
    console.log(tbody);
    tbody.insertBefore(novaLinha, tbody.firstChild);

    // Verifique se a tabela tem mais de 3 linhas e, se tiver, remova a primeira linha
    if (tbody.children.length > 4) {
      tbody.removeChild(tbody.children[4]);
    }
  })});
// Função que lê os dados do ticket usando o SpeechSynthesisVoice
const speakTicketData = (ticket) => {
      playAudio();
      console.log(ticket.ticket_number)
      const message = `Senha, ${ticket.ticket_number}, Serviço, ${ticket.Service.name}, Balcão, ${ticket.counter_id}`;
    
      const speak = new SpeechSynthesisUtterance(message);
        speak.lang = 'pt';
        speak.rate = '1';
        const voices = window.speechSynthesis.getVoices();
         const googleVoice = voices.find(voice => voice.name === 'Microsoft Server Speech Text to Speech Voice (pt-BR, Heloisa)');
         speak.voice = googleVoice;
        window.speechSynthesis.speak(speak);
    }

    // Função que toca o áudio
    const playAudio = () => {
      audio.play();
    }

   
</script>
</html>